Crown-Wealth
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid mx-0 mx-sm-5">
        <a class="navbar-brand fw-bold CauseCaptureStyle">Crown-Wealth</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse Navbarstyleone" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" (click)="student()">Student</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link" (click)="admin()">Admin</a>
                </li>
                <li class="nav-item mx-5">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
