<p>student-page works!</p>


<div class="container">
    <div class="col-md-6 col-sm-12 mx-auto shadow p-3 text-center">
        <h3 class="text-center text-primary">Student-Page</h3>
        <input type="text" [(ngModel)]="stufirstname" placeholder="Firstname" class="form-control p-3 my-2">
        <input type="text" [(ngModel)]="stulastname" placeholder="lastname" class="form-control p-3 my-2">
        <input type="text" [(ngModel)]="stuemail"  placeholder="email" class="form-control p-3 my-2">
        <input type="text" [(ngModel)]="studepartment" placeholder="Department" class="form-control p-3 my-2">
        <input type="text" [(ngModel)]="stugender" placeholder="Gender" class="form-control p-3 my-2">
        <input type="text" [(ngModel)]="stumatric" placeholder="Matric" class="form-control p-3 my-2">
        <input type="text" [(ngModel)]="stupassword"  placeholder="password" class="form-control p-3 my-2">
        <button class="btn btn-primary" (click)="signupBTN()">Sign Up</button>
        <!-- <div class="text-danger text-center">{{message}}</div> -->
    </div>
</div>